bin
.metadata
/Neck_Veins/NeckVeins 1.0/hs_err_pid3084.log
/Neck_Veins/NeckVeins 1.0/Veins3D.save
/Neck_Veins/NeckVeins 1.0/cam.txt
platform_build
nifty-examples-1.4.1-sources.jar
nifty-examples-1.4.1.jar
/Neck_Veins/NeckVeins 1.0/Pat12_3D-DSA_pMethod_MARCHING_CUBES_pSigma_0,75_pThreshold_0,5_pNumSubdivisions_0_.obj
/Neck_Veins/NeckVeins 1.0/Pat12_3D-DSA_pMethod_MPUI_pSigma_0,5_pThreshold_0,5_pAlpha_0,699999988079_pLambda_0,10000000149_pError_0,004999999888_pResolution_0,009999999776_pPointCloud_false_pNumSubdivisions_0_.obj
/Neck_Veins/NeckVeins 1.0/Pat12_3D-DSA_pMethod_MARCHING_CUBES_pSigma_0,5_pThreshold_0,5_pNumSubdivisions_0_.obj
/nifty backup lib
/myNiftyLib
/Neck_Veins/NeckVeins 1.0/Pat12_3D-DSA.mhd
/Neck_Veins/NeckVeins 1.0/Pat12_3D-DSA.raw
/Neck_Veins/NeckVeins 1.0/Pat12_3D-DSA_pMethod_MARCHING_CUBES_pSigma_0,259999990463_pThreshold_0,639999985695_pNumSubdivisions_0_.obj
/Neck_Veins/NeckVeins 1.0/fps.fnt
